input[type=text], input[type=password] {
	width: 100%;
	padding: 1em;
	margin: 5px 0 1em 0;
	display: inline-block;
	border: none;
	background: #f0f0f0;
}
input::placeholder {
	color: #bbbbbbba;
}
input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 2em;
}
button {
	background-color: #4CAF50;
	color: white;
	padding: 1em 1.5em;
	margin: 0.5em 1em;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;

}
button:hover {
	opacity: 1;
}
.cansel_btm {
	background-color: #D3080C;
	padding: 0.5em, 1em;
}
.cansel_btm, .sign_up_btm {
	float: right;
	width: 33%;
}
.container {
	margin:0 auto;
	width: 40%;
	padding: 1em;
}
